.own-message {
    display: flex;
    flex-flow: column;
    align-self: flex-end;
    width: 400px;
    margin-left: auto;
    margin-bottom: 20px;
    padding: 20px;
    position: relative;
    background: #d0d3e3;
    border-radius: 0.4em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.own-message:after {
    content: '';
	position: absolute;
	right: 0;
	bottom: 0px;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-left-color: #d0d3e3;
	border-right: 0;
	border-bottom: 0;
	margin-top: -10px;
	margin-right: -10px;
}

.message-user-name {
}

.message-header {
    display: flex;
    justify-content: space-between;
}

.icons-container{
    display: flex;
    align-self: flex-end;
}

.icon{
    color: #6456b666;
    cursor: pointer;
    margin: 5px;
}
.icon:hover{
    color:#6456b6;
    cursor: pointer;
}
