header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    color: #6456b6
}

.header-title{
    font-size: 20px;
    color: #6456b6;
    font-weight: 500;
}