.message {
    display: flex;
    margin-bottom: 20px;
}

.message-user-avatar {
    object-fit: cover;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-self: flex-end;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.message-content {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 10px;
    padding: 20px;
    position: relative;
    background: white;
    border-radius: 0.4em;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.message-content:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0px;
    width: 0;
    height: 0;
    border: 20px solid transparent;
    border-right-color: white;
    border-left: 0;
    border-bottom: 0;
    margin-top: -10px;
    margin-left: -10px;
}

.message-header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 10px;
}

.message-text {
    font-size: 16px;
}


.message-like{
    align-self: flex-end;
    cursor: pointer;
    color: #6456b666;
}

.message-liked{
    align-self: flex-end;
    cursor: pointer;
    color: #6456b6;
}